{
  "Id": "104170800",
  "AccountId": "64349053",
  "WebPropertyId": "UA-64349053-1",
  "InternalWebPropertyId": "100267575",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Etc/GMT",
  "WebsiteUrl": "http://sweetserenitybysarah.com",
  "Type": "WEB",
  "Created": "2015-06-21T16:41:29.024+01:00",
  "Updated": "2015-06-21T16:41:29.024+01:00"
}