<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT PaymentDetails ANY>
<!ATTLIST PaymentDetails id ID #REQUIRED>
<!ELEMENT PaymentsContainer ANY>
<!ATTLIST PaymentsContainer id ID #REQUIRED>
 
<!ELEMENT AccountPage ANY>
<!ATTLIST AccountPage id ID #REQUIRED>
<!ELEMENT AdvertsContainer ANY>
<!ATTLIST AdvertsContainer id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT GalleryPage ANY>
<!ATTLIST GalleryPage id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ImageSlide ANY>
<!ATTLIST ImageSlide id ID #REQUIRED>
<!ELEMENT ImageSliderContainer ANY>
<!ATTLIST ImageSliderContainer id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT LoginRegisterPage ANY>
<!ATTLIST LoginRegisterPage id ID #REQUIRED>
<!ELEMENT PricesPage ANY>
<!ATTLIST PricesPage id ID #REQUIRED>
<!ELEMENT ProductPage ANY>
<!ATTLIST ProductPage id ID #REQUIRED>
<!ELEMENT SiteAdvert ANY>
<!ATTLIST SiteAdvert id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SocialLink ANY>
<!ATTLIST SocialLink id ID #REQUIRED>
<!ELEMENT SocialLinksContainer ANY>
<!ATTLIST SocialLinksContainer id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-06-24T07:19:14" updateDate="2016-06-22T20:33:36" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="1053" nodeTypeAlias="HomePage">
    <bodyText><![CDATA[<p>We are fully qualified body beauty technicians that specialise in Evanji Sugaring and Holistic Therapies. We also use a wide range of Forever Living products for all our treatments which are also available for you to order from our Forever Living distributor web shop.</p>]]></bodyText>
    <linkTittle><![CDATA[Home]]></linkTittle>
    <browserTitle><![CDATA[Sweet Serenity By Sarah | Specialist in Sugaring, Holistic Therapies and Forever Living products]]></browserTitle>
    <metaKeywords><![CDATA[Sugaring, Forever Living, Sarah, Serenity,Holisitc Therapies]]></metaKeywords>
    <metaDescription><![CDATA[Sweet Sugaring by Sarah caters for all your body and soul beauty needs.]]></metaDescription>
    <sEOSitemapFrequency><![CDATA[Daily]]></sEOSitemapFrequency>
    <sEOSitemapPriority><![CDATA[1]]></sEOSitemapPriority>
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <leadHeadingSmall><![CDATA[Welcome To]]></leadHeadingSmall>
    <leadHeadingLarge><![CDATA[Sweet Serenity by Sarah]]></leadHeadingLarge>
    <introSections><![CDATA[{"fieldsets":[{"properties":[{"alias":"heading","value":"Sugaring"},{"alias":"text","value":"All your sugaring hair removal needs in Adelaide..."},{"alias":"link","value":"1068"}],"alias":"homeIntroSection","disabled":false},{"properties":[{"alias":"heading","value":"Holisitic Therapies"},{"alias":"text","value":"Facials, hands, full body massage and much more..."},{"alias":"link","value":"1070"}],"alias":"homeIntroSection","disabled":false},{"properties":[{"alias":"heading","value":"Get In Touch"},{"alias":"text","value":"For more infomation on our services and product, contact us..."},{"alias":"link","value":"1071"}],"alias":"homeIntroSection","disabled":false}]}]]></introSections>
    <StandardTextPage id="1067" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2015-06-29T07:32:50" updateDate="2016-06-22T20:33:37" nodeName="About" urlName="about" path="-1,1054,1067" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
      <pageHeading><![CDATA[Find out more about us]]></pageHeading>
      <bodyText><![CDATA[<p>I discovered the art of sugaring whilst looking to get my eyebrows waxed in my local area. It was then i discovered a wonderful approachable lady who introduced me to sugaring, a completely natural method of hair removal, very intrigued to know more i decided to give this a try and straight away i loved this treatment and found myself very interested in learning more.</p>
<p>Suffering from polycystic ovaries myself, one of the side effects is unwanted hair growth and this was affecting my confidence. Sugaring was a method that could be used on any part of the body and i found that sugaring lasted much longer than any other methods of hair removal. After a few treatments i noticed my hair growth was lighter and finer and i was getting longer between treatments, which was fabulous for me.</p>
<p>I was then offered the opportunity to become a sugaring practitioner and join a fabulous company <a href="http://www.evanji.co.uk/" target="_blank" title="Evsnji">Evanji</a> which provided me with all the support i needed and enabled me to spread my wings and grow my own business in which i was very happy and excited to share this alternative method of hair removal to others.</p>
<p>As a mother, confidence inside and outside is very important to me and i am excited to deliver an outstanding level of service to my clients as well as gaining fabulous friendship and working with others to look and feel good inside and outside.</p>
<p><em><strong>Indulge your body with sugaring today.</strong></em></p>]]></bodyText>
      <linkTittle><![CDATA[About Us]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>3121</headingImage>
      <StandardTextPage id="2113" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2015-07-15T08:06:12" updateDate="2016-06-22T20:33:37" nodeName="How to buy" urlName="how-to-buy" path="-1,1054,1067,2113" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[Here is how to buy your forever products]]></pageHeading>
        <bodyText><![CDATA[<p>We have a number of ways which you can use to buy your Forever products. Find the products you want to buy either from our <a href="/{localLink:1069}" title="Forever Living">Forever sections </a> or visit our <a href="https://www.foreverliving.com/retail/entry/Shop.do?store=GBR&amp;language=en&amp;distribID=440500054794" target="_blank" title="Sarah's Forever Living Web Shop">web shop</a> to view all the products available. Once you have your selection of products we can either order for you and deliver them to your doorstep so either phone us, email us or contact us via our <a href="/{localLink:1071}" title="Contact us">contact page</a> with your order.</p>
<p>Alternatively buy direct from the web shop and they will be delivered to your door step with the wide range of couriers that Forever Living use, just follow the steps  below to set up your account on the web shop.</p>
<h4 class="content-heading intro-text">How to create your Forever Living web shop account</h4>]]></bodyText>
        <linkTittle><![CDATA[Buying process]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>3122</headingImage>
        <contentListItems><![CDATA[1) Visit the web shop and add your products to the basket on the product page.
2) Form your shopping cart on the page click on the checkout button
3) Once on the checkout page, enter my Forever Business Owner's ID into the box which is 440500054794 the press checkout
4) this will take you to the to confirm my details then press "continue with checkout" to go to the next step.
5) If you have an account already log in or register to create a new account or you can just proceed without registering
6) Enter your shipping and payment details and pay for you order.]]></contentListItems>
      </StandardTextPage>
      <StandardTextPage id="2114" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2015-07-15T19:03:36" updateDate="2016-06-22T20:33:37" nodeName="Join Our Team" urlName="join-our-team" path="-1,1054,1067,2114" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[Become on of our Distributors in our team]]></pageHeading>
        <bodyText><![CDATA[<p>We are always on the look out to expand our ever growing team, be it either as a fully qualified Evanji Sugaring expert or a Forever Living distributor or even better both. Get in touch with us from our contact page and let us know how you would like to get involved.</p>
<h4 class="content-heading intro-text">Joining out team is easy, just follow the steps below:</h4>]]></bodyText>
        <linkTittle><![CDATA[Join Us]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1086</headingImage>
        <contentListItems><![CDATA[1) Send us your details via our contact page
2) we will get in-touch with your to arange a meeting
3) Get the essential training and start up kit you require, and thats is it...]]></contentListItems>
      </StandardTextPage>
      <GalleryPage id="2121" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2015-07-20T08:52:42" updateDate="2016-06-22T20:33:37" nodeName="Image Gallery" urlName="image-gallery" path="-1,1054,1067,2121" isDoc="" nodeType="2119" creatorName="Denford" writerName="Denford" writerID="0" template="2120" nodeTypeAlias="GalleryPage">
        <pageHeading><![CDATA[View a collection of all our Forever and Sugaring images...]]></pageHeading>
        <bodyText><![CDATA[<p>We have have complied a list of different images for you to view and these include product images from Forever living and before and after images showing you the benefits of Evanji Sugaring.</p>
<p>Click on the "launch gallery" or any image to view the full size image slider.</p>]]></bodyText>
        <linkTittle><![CDATA[Gallery]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>3121</headingImage>
        <galleryAlbum><![CDATA[2123]]></galleryAlbum>
      </GalleryPage>
    </StandardTextPage>
    <LandingPage id="1068" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2015-06-29T07:34:02" updateDate="2016-06-22T20:33:37" nodeName="Sugaring" urlName="sugaring" path="-1,1054,1068" isDoc="" nodeType="1059" creatorName="Denford" writerName="Denford" writerID="0" template="1063" nodeTypeAlias="LandingPage">
      <pageHeading><![CDATA[The art of Evanji Sugaring]]></pageHeading>
      <bodyText><![CDATA[<p>Sugaring is the Ancient Arabic art of removing unwanted hair from the body. The Arabic method is by hand and the hair is removed from the root therefore growth is softer, sparse and lighter in color.The paste is flicked off ensuring the hairs are removed from the root. The sugar paste used is made with natural products and the treatment is so gentle that any areas of the body can be treated, including sensitive area and skin with conditions such as eczema and psoriasis. </p>
<p><iframe src="https://www.youtube.com/embed/LV88me1T5-U?feature=oembed" allowfullscreen="" frameborder="0" height="432" width="576"></iframe></p>]]></bodyText>
      <linkTittle><![CDATA[Sugaring]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>3121</headingImage>
      <PricesPage id="4125" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2016-01-08T22:58:40" updateDate="2016-06-22T20:33:37" nodeName="Price List" urlName="price-list" path="-1,1054,1068,4125" isDoc="" nodeType="4122" creatorName="Denford" writerName="Denford" writerID="0" template="4124" nodeTypeAlias="PricesPage">
        <pageHeading><![CDATA[Sugaring Treatments Price List]]></pageHeading>
        <bodyText><![CDATA[<p>See below our price list for the most common treatments we do, if there is any treatment you require not listed below let us know and we will let you know what the charges involved are.</p>
<h4 class="content-heading intro-text"><em><strong>Introductory offer, $5 off your first 2 appointments</strong></em></h4>]]></bodyText>
        <linkTittle><![CDATA[Prices]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1088</headingImage>
        <priceListLeft><![CDATA[{"fieldsets":[{"properties":[{"alias":"itemName","value":"Half Leg"},{"alias":"itemPrice","value":"$15"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Full Leg"},{"alias":"itemPrice","value":"$25"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Under-arm"},{"alias":"itemPrice","value":"$10"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Bikini Line"},{"alias":"itemPrice","value":"From $7"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Eyebrows"},{"alias":"itemPrice","value":"From $7"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Top Lip"},{"alias":"itemPrice","value":"$10"}],"alias":"priceItem","disabled":false}]}]]></priceListLeft>
        <priceListRight><![CDATA[{"fieldsets":[{"properties":[{"alias":"itemName","value":"Half Arm"},{"alias":"itemPrice","value":"$10"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Full Arm"},{"alias":"itemPrice","value":"$20"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Face"},{"alias":"itemPrice","value":"$20"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Back"},{"alias":"itemPrice","value":"$20"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Chest"},{"alias":"itemPrice","value":"$30"}],"alias":"priceItem","disabled":false},{"properties":[{"alias":"itemName","value":"Top lip & Chin"},{"alias":"itemPrice","value":"$15"}],"alias":"priceItem","disabled":false}]}]]></priceListRight>
      </PricesPage>
      <StandardTextPage id="1073" parentID="1068" level="3" creatorID="0" sortOrder="1" createDate="2015-06-29T07:40:27" updateDate="2016-06-22T20:33:37" nodeName="History" urlName="history" path="-1,1054,1068,1073" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[Where did it all start]]></pageHeading>
        <bodyText><![CDATA[<p>The earliest references to hair removal came from ancient civilizations of Mesopotamia , Egypt and Greece. Egyptian writing described how slaves men and women serving the Pharaoh were expected to remove body hair. Hairy arms and bodies were  considered unclean by the manor-oh.</p>]]></bodyText>
        <linkTittle><![CDATA[Sugaring History]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1088</headingImage>
      </StandardTextPage>
      <StandardTextPage id="1074" parentID="1068" level="3" creatorID="0" sortOrder="2" createDate="2015-06-29T07:41:49" updateDate="2016-06-22T20:33:37" nodeName="How it works" urlName="how-it-works" path="-1,1054,1068,1074" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[What is involved in the process]]></pageHeading>
        <bodyText><![CDATA[<p>In a nutshell sugaring is almost like waxing but done using natural sugar-paste made of sugar, lemon juice and water, which is more friendly to your body and skin and in a much less painful process which is guaranteed to not irritate the skin. The key to the success of sugaring is that it removes the hair straight from the root cells which means there is less likely the chance for that hair cell to grow again.</p>
<h4 class="content-heading intro-text">See below for a step-by-step guide of the process</h4>]]></bodyText>
        <linkTittle><![CDATA[How it works]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1088</headingImage>
        <contentListItems><![CDATA[1) the area is cleaned and moisturised
2) the warm sugar paste is spread along the area.
3) the paste is quickly removed pulling the hair out as its lifted
4) the process is repeated until all the hair is removed
5) any finer hair left is removed by twisers if need be
6) the completed area is cleaned and moisturised again]]></contentListItems>
      </StandardTextPage>
      <StandardTextPage id="1075" parentID="1068" level="3" creatorID="0" sortOrder="3" createDate="2015-06-29T07:43:52" updateDate="2016-06-22T20:33:37" nodeName="Before and After Care" urlName="before-and-after-care" path="-1,1054,1068,1075" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[How to get ready and maintan the look]]></pageHeading>
        <bodyText><![CDATA[<p>Before treatment the hair needs to be at least half a centimeter long so that the sugar-paste can work more effectively. After treatment, the hair free ares will be can be sensitive and tender, this is just because the hair would have been removed from the root, hence will need to looked after gently at least for an hour or so after treatment to allow the hair follicles settle and close.</p>]]></bodyText>
        <linkTittle><![CDATA[Before and After Care]]></linkTittle>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <headingImage>1088</headingImage>
      </StandardTextPage>
    </LandingPage>
    <LandingPage id="1069" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2015-06-29T07:35:45" updateDate="2016-06-22T20:33:37" nodeName="Forever Living" urlName="forever-living" path="-1,1054,1069" isDoc="" nodeType="1059" creatorName="Denford" writerName="Denford" writerID="0" template="1063" nodeTypeAlias="LandingPage">
      <pageHeading><![CDATA[Our range of Forever Living products]]></pageHeading>
      <bodyText><![CDATA[<p>Forever Aloe Vera is grown at our plantations in the Dominican Republic and Texas. Forever Aloe is carefully grown and cultivated, ensuring the highest quality plant possible. Aloe is often referred to as nature's best gift due to the proven health benefits derived from the gel found inside the leaf of the plant. Growing Aloe with care in the best possible climate and conditions guarantees that you receive the best products available. From plant to product to you!</p>
<p>Shop for your favorite Forever products including best-selling weight management, nutritional supplements, Flawless by Sonya® color cosmetics, iconic Aloe Vera Gel® and many more from the shop links above.</p>]]></bodyText>
      <linkTittle><![CDATA[Forever]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>1087</headingImage>
      <pageVideo><![CDATA[2117]]></pageVideo>
      <videoTitle><![CDATA[Watch our short Forever living introduction video]]></videoTitle>
    </LandingPage>
    <LandingPage id="1070" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2015-06-29T07:37:11" updateDate="2016-06-22T20:33:37" nodeName="Holistic Therapies" urlName="holistic-therapies" path="-1,1054,1070" isDoc="" nodeType="1059" creatorName="Denford" writerName="Denford" writerID="0" template="1063" nodeTypeAlias="LandingPage">
      <pageHeading><![CDATA[Holistic Therapies available for you]]></pageHeading>
      <bodyText><![CDATA[<p>We offer a wide range of Holistic therapies ranging from Facials, hands, full body massage and much more.</p>]]></bodyText>
      <linkTittle><![CDATA[Holistic]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>1086</headingImage>
    </LandingPage>
    <ContactPage id="1071" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2015-06-29T07:37:47" updateDate="2016-06-22T20:33:37" nodeName="Contact" urlName="contact" path="-1,1054,1071" isDoc="" nodeType="1061" creatorName="Denford" writerName="Denford" writerID="0" template="1064" nodeTypeAlias="ContactPage">
      <pageHeading><![CDATA[How to contact us]]></pageHeading>
      <bodyText><![CDATA[<p>For more information on any side of our business, whether its a general inquiry or you are thinking of joining our forever team, send us a message using the form below. Alternatively send us an email or give us a call to discuss your inquiry further, we always welcome any comments, suggestions and adivse.</p>]]></bodyText>
      <linkTittle><![CDATA[Contact ]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>3121</headingImage>
      <locationAddress><![CDATA[301 States Road
Morphett Vale
Adelaide
South Australia
Australia]]></locationAddress>
      <locationMap><![CDATA[-35.12427,138.53587600000003]]></locationMap>
    </ContactPage>
    <StandardTextPage id="1072" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2015-06-29T07:38:47" updateDate="2016-06-22T20:33:37" nodeName="Error" urlName="error" path="-1,1054,1072" isDoc="" nodeType="1060" creatorName="Denford" writerName="Denford" writerID="0" template="1066" nodeTypeAlias="StandardTextPage">
      <pageHeading><![CDATA[Opps, something went wrong with that page]]></pageHeading>
      <linkTittle><![CDATA[Error]]></linkTittle>
      <searchEngineSiteMapHide>1</searchEngineSiteMapHide>
      <hideFromMenu>1</hideFromMenu>
      <hideFromSideMenu>1</hideFromSideMenu>
    </StandardTextPage>
    <LoginRegisterPage id="5128" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2016-06-14T20:07:08" updateDate="2016-06-22T20:33:37" nodeName="login-Register" urlName="login-register" path="-1,1054,5128" isDoc="" nodeType="5126" creatorName="Denford" writerName="Denford" writerID="0" template="5127" nodeTypeAlias="LoginRegisterPage">
      <pageHeading><![CDATA[Login Or Register ]]></pageHeading>
      <bodyText><![CDATA[<p>Use one of the 2 forms below to either login to your account or register for a new account</p>]]></bodyText>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </LoginRegisterPage>
    <AccountPage id="5135" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2016-06-16T21:15:48" updateDate="2016-07-27T21:41:03" nodeName="Account" urlName="account" path="-1,1054,5135" isDoc="" nodeType="5133" creatorName="Denford" writerName="Denford" writerID="0" template="5134" nodeTypeAlias="AccountPage">
      <pageHeading><![CDATA[Your account]]></pageHeading>
      <linkTittle><![CDATA[Account]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </AccountPage>
  </HomePage>
  <GlobalSettings id="1055" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-06-24T07:19:53" updateDate="2016-06-22T20:33:51" nodeName="Global Settings" urlName="global-settings" path="-1,1055" isDoc="" nodeType="1046" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1056" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2015-06-24T07:22:03" updateDate="2016-06-22T21:40:29" nodeName="Site Details" urlName="site-details" path="-1,1055,1056" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteName><![CDATA[Sweet Serenity by Sarah]]></siteName>
      <siteEmailAddress><![CDATA[support@sweetserenitybysarah.com]]></siteEmailAddress>
      <sitePhoneNumber><![CDATA[0424 330 008]]></sitePhoneNumber>
      <siteLogo>4128</siteLogo>
      <defaultKeyWords><![CDATA[Sweet Serenity, Sugaring, Forever Living, Sarah, Serenity,Holistic Therapies, Facials, Beauty, Aloe Vera, Sugaring in Adelaide, Sugaring hair removal Adelaide]]></defaultKeyWords>
      <defaultMetaDescription><![CDATA[We specialise in Sugaring, Holistic Therapies and Forever living products. All our products we use are natural based from the sugar paste for all our sugaring procedures to the before and after care products which are all Aloe Vera based products from Forever Living.]]></defaultMetaDescription>
      <livePaymentmode>0</livePaymentmode>
      <testsecretapikey><![CDATA[sk_test_XgqG8RG2MWDMsm6WcOuVZc5A]]></testsecretapikey>
      <livesecretapikey><![CDATA[ sk_live_Mg0JMHZFDyoJ7YWmAuDYNdUz]]></livesecretapikey>
      <testpublishapikey><![CDATA[pk_test_7mFtUZzbxDespYuEjpQPYzzi]]></testpublishapikey>
      <livepublishapikey><![CDATA[pk_live_FHkxvJDYUtM0Q3WccdYVLhV8]]></livepublishapikey>
    </SiteDetails>
    <SocialLinksContainer id="1057" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2015-06-24T07:22:30" updateDate="2016-06-22T20:33:51" nodeName="Social Links" urlName="social-links" path="-1,1055,1057" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SocialLinksContainer">
      <SocialLink id="1058" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2015-06-24T07:22:53" updateDate="2016-06-22T20:33:51" nodeName="Facebook" urlName="facebook" path="-1,1055,1057,1058" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SocialLink">
        <linkTitle><![CDATA[Follow us on Facebook]]></linkTitle>
        <faIcon><![CDATA[fa-facebook-official]]></faIcon>
        <linkUrl><![CDATA[https://www.facebook.com/sweetserenitybysarah]]></linkUrl>
      </SocialLink>
    </SocialLinksContainer>
    <ImageSliderContainer id="1089" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2015-06-30T08:06:21" updateDate="2016-06-22T20:33:51" nodeName="Homepage Slider" urlName="homepage-slider" path="-1,1055,1089" isDoc="" nodeType="1083" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ImageSliderContainer">
      <ImageSlide id="1090" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2015-06-30T08:06:57" updateDate="2016-06-22T20:33:51" nodeName="Sugaring" urlName="sugaring" path="-1,1055,1089,1090" isDoc="" nodeType="1084" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ImageSlide">
        <slideImage>1088</slideImage>
        <slideHeading><![CDATA[We do Sugaring]]></slideHeading>
        <slideText><![CDATA[Go to our Sugaring section for all information about sugaring.]]></slideText>
        <slideLink>1068</slideLink>
      </ImageSlide>
      <ImageSlide id="1091" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2015-06-30T20:25:31" updateDate="2016-06-22T20:33:51" nodeName="Forever Living" urlName="forever-living" path="-1,1055,1089,1091" isDoc="" nodeType="1084" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ImageSlide">
        <slideImage>1087</slideImage>
        <slideHeading><![CDATA[Forever Living Products]]></slideHeading>
        <slideText><![CDATA[For our best selection of Forever living products, visit the Forever living section]]></slideText>
        <slideLink>1069</slideLink>
      </ImageSlide>
      <ImageSlide id="1092" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2015-06-30T20:27:25" updateDate="2016-06-22T20:33:51" nodeName="HolisticTherapies" urlName="holistictherapies" path="-1,1055,1089,1092" isDoc="" nodeType="1084" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ImageSlide">
        <slideImage>1086</slideImage>
        <slideHeading><![CDATA[Holistic Therapies]]></slideHeading>
        <slideText><![CDATA[We also provide a wide range of Holistic Therapies for you beauty needs]]></slideText>
        <slideLink>1070</slideLink>
      </ImageSlide>
    </ImageSliderContainer>
    <AdvertsContainer id="1098" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2015-07-06T18:44:06" updateDate="2016-06-22T20:33:51" nodeName="Site Adverts" urlName="site-adverts" path="-1,1055,1098" isDoc="" nodeType="1096" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="AdvertsContainer">
      <SiteAdvert id="1101" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2015-07-07T07:28:34" updateDate="2016-06-22T20:33:51" nodeName="Forever Web shop" urlName="forever-web-shop" path="-1,1055,1098,1101" isDoc="" nodeType="1097" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteAdvert">
        <advertImage>1100</advertImage>
        <advertTitle><![CDATA[Our Forever Shop]]></advertTitle>
        <externalLinkUrl><![CDATA[https://www.foreverliving.com/retail/entry/Shop.do?store=GBR&language=en&distribID=440500054794]]></externalLinkUrl>
      </SiteAdvert>
    </AdvertsContainer>
    <PaymentsContainer id="5140" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2016-07-26T21:16:29" updateDate="2016-07-26T22:07:17" nodeName="Site Payments" urlName="site-payments" path="-1,1055,5140" isDoc="" nodeType="5138" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="PaymentsContainer">
      <PaymentDetails id="5141" parentID="5140" level="3" creatorID="0" sortOrder="0" createDate="2016-07-26T22:09:52" updateDate="2016-07-27T22:39:47" nodeName="Stripe Payment - cus_8tHJad6sGskMOw - ch_18bUpQE4n3HnKh06E9fFPmxS" urlName="stripe-payment-cus_8thjad6sgskmow-ch_18bupqe4n3hnkh06e9ffpmxs" path="-1,1055,5140,5141" isDoc="" nodeType="5139" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="PaymentDetails">
        <paymentAmount><![CDATA[55]]></paymentAmount>
        <paymentDescription><![CDATA[Payment for treatment for : Denford Mutseriwa]]></paymentDescription>
        <paymentEmailAddress><![CDATA[babybwoy2001@yahoo.co.uk]]></paymentEmailAddress>
        <stripeChargeId><![CDATA[ch_18bUpQE4n3HnKh06E9fFPmxS]]></stripeChargeId>
        <stripeChargeCustomerId><![CDATA[cus_8tHJad6sGskMOw]]></stripeChargeCustomerId>
        <stripeChargeCaptured>1</stripeChargeCaptured>
        <stripeChargeStatus><![CDATA[succeeded]]></stripeChargeStatus>
        <chargedMember>5132</chargedMember>
      </PaymentDetails>
      <PaymentDetails id="5142" parentID="5140" level="3" creatorID="0" sortOrder="1" createDate="2016-07-26T22:19:16" updateDate="2016-07-27T22:40:17" nodeName="Stripe Payment - cus_8tHJad6sGskMOw - ch_18bUzjE4n3HnKh06idUgdKr0" urlName="stripe-payment-cus_8thjad6sgskmow-ch_18buzje4n3hnkh06idugdkr0" path="-1,1055,5140,5142" isDoc="" nodeType="5139" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="PaymentDetails">
        <paymentAmount><![CDATA[49]]></paymentAmount>
        <paymentDescription><![CDATA[Payment for treatment for : Denford Mutseriwa]]></paymentDescription>
        <paymentEmailAddress><![CDATA[babybwoy2001@yahoo.co.uk]]></paymentEmailAddress>
        <stripeChargeId><![CDATA[ch_18bUzjE4n3HnKh06idUgdKr0]]></stripeChargeId>
        <stripeChargeCustomerId><![CDATA[cus_8tHJad6sGskMOw]]></stripeChargeCustomerId>
        <stripeChargeCaptured>1</stripeChargeCaptured>
        <stripeChargeStatus><![CDATA[succeeded]]></stripeChargeStatus>
        <chargedMember>5132</chargedMember>
      </PaymentDetails>
      <PaymentDetails id="5143" parentID="5140" level="3" creatorID="0" sortOrder="2" createDate="2016-07-26T22:25:49" updateDate="2016-07-27T22:40:49" nodeName="Denford Mutseriwa - ch_18bV62E4n3HnKh0639ucjOYQ" urlName="denford-mutseriwa-ch_18bv62e4n3hnkh0639ucjoyq" path="-1,1055,5140,5143" isDoc="" nodeType="5139" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="PaymentDetails">
        <paymentAmount><![CDATA[110]]></paymentAmount>
        <paymentDescription><![CDATA[Payment for treatment for : Denford Mutseriwa]]></paymentDescription>
        <paymentEmailAddress><![CDATA[babybwoy2001@yahoo.co.uk]]></paymentEmailAddress>
        <stripeChargeId><![CDATA[ch_18bV62E4n3HnKh0639ucjOYQ]]></stripeChargeId>
        <stripeChargeCustomerId><![CDATA[cus_8tHJad6sGskMOw]]></stripeChargeCustomerId>
        <stripeChargeCaptured>1</stripeChargeCaptured>
        <stripeChargeStatus><![CDATA[succeeded]]></stripeChargeStatus>
        <chargedMember>5132</chargedMember>
      </PaymentDetails>
      <PaymentDetails id="5144" parentID="5140" level="3" creatorID="0" sortOrder="3" createDate="2016-07-26T22:29:30" updateDate="2016-07-27T22:41:32" nodeName="Sarah Belletty - ch_18bV9iE4n3HnKh06JTyartdd" urlName="sarah-belletty-ch_18bv9ie4n3hnkh06jtyartdd" path="-1,1055,5140,5144" isDoc="" nodeType="5139" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="PaymentDetails">
        <paymentAmount><![CDATA[15]]></paymentAmount>
        <paymentDescription><![CDATA[Payment for treatment for : Sarah Belletty]]></paymentDescription>
        <paymentEmailAddress><![CDATA[sarahbelletty@yahoo.co.uk]]></paymentEmailAddress>
        <stripeChargeId><![CDATA[ch_18bV9iE4n3HnKh06JTyartdd]]></stripeChargeId>
        <stripeChargeCustomerId><![CDATA[cus_8rOvkbuHs3l550]]></stripeChargeCustomerId>
        <stripeChargeCaptured>1</stripeChargeCaptured>
        <stripeChargeStatus><![CDATA[succeeded]]></stripeChargeStatus>
        <chargedMember>5136</chargedMember>
      </PaymentDetails>
    </PaymentsContainer>
  </GlobalSettings>
</root>