<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <styleBundle virtualPath="~/bundles/sitecss" disableMinification="True">
      <include virtualPath="~/css/bootstrap.css" />
      <include virtualPath="~/css/blueimp-gallery.min.css" />
      <include virtualPath="~/css/bootstrap-image-gallery.css" />
      <include virtualPath="~/css/SiteStyles.css" />
    </styleBundle>
    <scriptBundle virtualPath="~/bundles/sitescripts" disableMinification="True">
      <include virtualPath="~/scripts/jQuery-v1.11.2.js" />
      <include virtualPath="~/scripts/bootstrap.min.js" />
      <include virtualPath="~/scripts/jquery.validate.min.js" />
      <include virtualPath="~/scripts/jquery.validate.unobtrusive.min.js" />
      <include virtualPath="~/scripts/bootstrap-datepicker.min.js" />
      <include virtualPath="~/scripts/blueimp-gallery.min.js" />
      <include virtualPath="~/scripts/bootstrap-image-gallery.min.js" />
      <include virtualPath="~/scripts/SiteJQScripts.js" />
    </scriptBundle>
  </bundles>
</optimus>